<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Person details</title>
</head>
<body>

	<h1>Person details</h1>

	<span>user ID: </span><span th:text="${person.getId()}"></span><br />
	<span>user Name: </span><span th:text="${person.getName()}"></span><br />
	<span>user Age: </span><span th:text="${person.getAge()}"></span><br />
	<span>user Email: </span><span th:text="${person.getEmail()}"></span><br />

	<br />

	<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

	<br />
	<br />

	<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
		<input type="submit" value="Delete" />
	</form>

	<br />

	<a href="/people">people list</a>

</body>
</html>